@tailwind base;

.nav-blob-wrapper {
  @apply w-3;
  @apply min-w-1;
  @apply h-6;
}

.nav-blob {
  @apply w-1;
  @apply h-1;
  @apply transition-all;
  @apply duration-500;
}

.nav-blob:before {
  content: "\200D";
}

.nav-hover:hover .nav-blob {
  @apply w-tenth;
  @apply h-full;
}

@tailwind components;

@tailwind utilities;

body::-webkit-scrollbar {
  @apply w-4;
}

body::-webkit-scrollbar-track {
  background-color: #102027;
}

body::-webkit-scrollbar-thumb {
  @apply bg-accent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
