* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.lottie-smurf-container {
  background-color: #14d2b3;
}

@media screen and (max-width: 768px) {
  .big-text-main {
    font-size: 5rem;
  }
  .big-text-heading {
    font-size: 2.25rem;
  }

  .big-text-sec {
    font-size: 1.25rem;
  }

  .work-grid {
    width: 100%;
  }

  .nav-shadow {
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.25);
  }
}

@media screen and (min-width: 768px) {
  .big-text-main {
    font-size: min(12vw, 18vh);
  }
  .big-text-heading {
    font-size: min(6vw, 12vh);
  }

  .big-text-sec {
    font-size: min(2vw, 4vh);
  }

  .work-grid {
    width: 1%;
  }
}

.binary-bg {
  background-image: url(../assets/binary.svg);
  background-repeat: repeat;
}

.text-shadow {
  text-shadow: 2px 2px #101924;
}